@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    box-sizing: border-box;
}
body {
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 70px 0 50px;
}
p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    color: #000000;
}
h1, h2 {
    color: #000000;
}
button {
    border-radius: 20px;
    border: 1px solid #333333;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button:active {
    transform: scale(0.95);
}
button:focus {
    outline: none;
}
button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
form {
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
input, select {
    background-color: #CCCCCC;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header img {
    margin-right: 20px;
}
.header .price {
    font-size: 24px;
    color: #000000;
}
.about, .news, .analytics {
    max-height: 150px;
    overflow-y: auto;
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.markets {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 700px;
    overflow: auto;
}
.markets table {
    width: 100%;
    border-collapse: collapse;
}
.markets th, .markets td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #000000;
}
.markets th {
    background-color: #333333;
    color: #FFFFFF;
}